@import "reset";
@import "variables/global";
@import "fonts/san-francisco";

body {
    font-family: var(--font-family-main);
    background-color: var(--app-bg-color);
}

.App {
    min-height: 100vh;
    max-width: 1140px;
    margin: 0 auto;
}

.content-page {
    padding: 0 var(--medium-padding) 0 calc(var(--sidebar-collapsed-width) + var(--medium-padding));
}

.content-wrapper {
    width: 100%;
}

.welcome-page {
    padding: 0 var(--medium-padding);
}
