.PersonalProfileField {
    width: 315px;
    height: 125px;
    background-color: var(--default-bg-color);
    border-radius: var(--medium-radius);
    padding: var(--medium-padding);
    color: #fff;
}

.label {
    font: var(--font-l);
}

.fieldValue {
    font-weight: 300;
}

.input {
    font-weight: 300;
    height: var(--font-line-m);
}

.error {
    border: solid 1px var(--red-color);
}

.errorMessage {
    margin-top: var(--small-padding);
    color: var(--red-color);
}
