.SearchField {
	width: 100%;
	height: 50px;
	color: #fff;
	display: flex;
	align-items: center;
	background-color: var(--light-bg-color);
	padding: var(--small-padding);
}

.cover {
	height: 30px;
	width: 30px;
	background-color: var(--default-bg-color);
	border-radius: var(--small-radius);

	img {
		height: 100%;
		border-radius: var(--small-radius);
	}
}

.title {
	font: var(--font-m);
	margin-left: var(--small-padding);
}

.artists {
	margin-left: var(--small-padding);
}