.Button {
    cursor: pointer;
    padding: 5px;

    &:disabled {
        cursor: not-allowed;
        background: var(--light-grey-red-gradient);
    }
}

.lightBg {
    // ширина и высота задаются в зависимости от необходимости
    background-color: var(--light-bg-color);
    border: none;
    color: white;
    border-radius: var(--small-radius);
}
