.AlbumRatingForm {
	width: 500px;
	height: 450px;
	padding: var(--medium-padding);
	display: flex;
	flex-direction: column;
}

.sliderLabel {
	color: #fff;
	font: var(--font-m);
}

.sliderWrapper {
	margin-bottom: var(--medium-padding);
	//background-color: var(--app-bg-color);
	border: solid 1px;
	border-color: var(--light-bg-color);
	border-radius: var(--medium-radius);
	padding: var(--small-padding);
}

.rangeSlider {
	//margin-bottom: var(--medium-padding);
}

.submitBtn {
	height: 40px;
	width: 200px;
	margin: 0 auto;
	margin-top: var(--medium-padding);
}

.blurBorder {
	border-radius: var(--medium-radius);
}