.AlbumCard {
    text-decoration: none;

    //width: 291px;
    //height: 428px;
    cursor: pointer;
    max-width: 582px;
    background-color: rgb(26 26 26);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(39 39 39);
    border-width: 1px;
    transition: all .5s;
    display: block;
    padding: 8px;

    //&:hover {
    //    scale: 1.08;
    //}
    //&_scope-off {
    //    &:hover {
    //        scale: none;
    //    }
    //}
    //&_margin-off {
    //    margin-top: 0 !important;
    //}
}

.title {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.cover {
    img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}

.artist {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rating {
    border-radius: 100%;
    width: 33px;
    height: 33px;
    background-color: #fff;
    margin: 8px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: rgb(41 40 44);
    margin: 0 auto;
}
