.EditProfile {
    margin-top: var(--medium-padding);
}

.buttonsWrapper {
    display: flex;
    gap: var(--small-padding);
    flex-direction: column;
}

.button {
    padding: 10px;
    display: block;
    width: 180px;
    margin-left: auto;
}

