.SearchList {
	width: 100%;
	background-color: var(--light-bg-color);
	position: absolute;
	z-index: 10;
	margin-top: var(--small-padding);
	border-radius: var(--medium-radius);
}

.plugHeight {
	height: 100px;
}