.Input {
    outline: none;
    display: block;
    transition: background-color 0.3s ease; // Плавное изменение цвета фона при наведении
    border-style: solid;
    border-width: 1px;
    border-radius: var(--medium-radius);
    border-color: var(--light-bg-color);
    padding: 0 10px;
    color: #fff;

    &:focus {
        //background-color: var(--default-bg-color-opacity); // Изменение цвета фона при наведении
        background-color: var(--light-bg-color);
    }

    &::placeholder {
        color: rgb(255 255 255 / 50%); // Цвет плейсхолдера
    }
}

.lightBg {
    // ширина и высота задается вручную для каждого случая
    //background-color: var(--light-bg-color);
    background-color: var(--default-bg-color-opacity);
}

.onlyBorder {
    background: none;
    border: solid 1px;
}

.readonly {
    background-color: inherit;
    border: none;
}

.error {
    color: var(--red-color);
    border-color: var(--red-color);
}

.errorMessage {
    font-size: var(--font-size-m);
    color: var(--red-color);
}

.onlyBottomBorder {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: solid 1px;
    padding-left: 0;

    &:focus {
        background: none;
    }
}
