.Input {
    outline: none;
    display: block;
}

.lightBg {
    // ширина задается вручную для каждого случая
    background-color: var(--light-bg-color);
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--medium-radius);
    border-color: var(--light-bg-color);
    padding: 0 10px;
    color: #fff;
}

.readonly {
    background-color: inherit;
    border: none;
}
