.EditableProfileCard {
    //background-color: var(--default-bg-color);
    border-radius: var(--medium-radius);
    padding-top: var(--medium-padding);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 300px;
    max-width: 100%;

    .input {
        margin-bottom: var(--small-padding); // Отступ между полями ввода
        width: 100%;
    }
}

.wrapper {
    width: 650px;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--medium-padding);
    margin: 0 auto;
    margin-top: var(--medium-padding);
}

.userBlock {
    color: #fff;
}

.username {
    margin-top: 15px;
    font: var(--font-l);
    font-weight: 400;
}

.person {

}
