body {
	background-color: rgb(14, 14, 14);
}

.main {
	padding-top: 100px;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		width: 650px;
		margin: 0 auto;
	}

	&__card {
		position: relative;
		width: 300px;
		height: 600px;
		background-color: rgb(26, 26, 26);
		border-radius: 30px;
		border-style: solid;
		border-color: rgb(39, 39, 39);
		border-width: 1px;
		cursor: pointer;
		transition: all .5s;
		background-position: 50% -80%;
		background-size: cover;
		&:first-child {
			background-image: url('../../img/collage.JPEG');
		}
		&:last-child {
			background-image: url('../../img/artists3.JPEG');
		}
		&:hover {
			scale: 1.02;
		}
		&-content {
			width: 100%;
			height: 100%;
			background-color: rgba(26, 26, 26, 0.6);
			transition: all 1s;
			border-radius: 30px;
			&:hover {
				background-color: rgba(26, 26, 26, 0.3);
			}
		}
		&-label {
			position: absolute;
			bottom: 50px;
			left: 20px;
			color: #fff;
			font-size: 34px;
			font-weight: 400;
		}
	}
}

.header {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1000;
	height: 70px;
	background-color: rgb(29, 28, 33);
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
		.search {
			border-style: none;
			border-radius: 20px;
			background-color: rgb(41, 40, 44);
			color: #fff;
			width: 300px;
			height: 40px;
			padding-left: 20px;
			padding-right: 20px;
			&:focus {
				outline: none;
			}
		}
	}
}