.Notification {
    position: fixed;
    bottom: 20px;
    right: -300px;
    padding: var(--medium-padding);
    background-color: var(--default-bg-color);
    color: #fff;
    border-radius: var(--medium-radius);
    transition: right 0.5s ease;

    &.visible {
        right: 20px;
    }

    &.successful {
        border: solid 1px var(--green-color);
    }

    &.error {
        border: solid 1px var(--red-color);
    }
}
