.Navbar {
    //position: fixed;
    z-index: var(--navbar-z-index);
    height: 70px;
    width: 100%;
    border-radius: var(--medium-radius);
    background-color: var(--default-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}

.linksWrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.linksList {
    display: flex;
    align-items: center;
    color: #fff;
    height: 100%;
}

.link {
    list-style: none;
    font-size: 24px;

    a {
        margin-right: 20px;
        text-decoration: none;
        color: #fff;
        font-weight: 300;
    }
}

.button {
    width: 100px;
    height: 40px;
}

.userInfo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    display: block;
    width: 50px;
    height: 50px;
}

.username {
    font-size: var(--font-size-m);
    color: #fff;
}
