.Blur {
    position: absolute;
    background-color: #fff;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    z-index: var(--blur-z-index);
}
