.buttonsWrapper {
	display: flex;
	gap: var(--small-padding);
	flex-direction: column;
}

.button {
	padding: 10px;
	display: block;
	width: 180px;
	margin-left: auto;
}

@media (width <= 650px) {
	.buttonsWrapper {
		width: 260px;
	}

	.button {
		width: 100%;
	}
}