.interaction {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	max-width: 900px;
}

.add-album-button {
	height: 40px;
	border: none;
	min-width: 250px;
	border-radius: 12px;
	border-style: solid;
	border-width: 1px;
	border-color:rgb(134, 118, 199);
	color: #fff;
	background-color: #000;
	padding: 0 15px 0 15px;
	font-size: 22px;
	transition: all .5s;
	&:hover {
		scale: 1.05;
	}
}