.AlbumForm {
    position: relative;
    background-color: var(--default-bg-color);
    border-radius: var(--medium-radius);
    padding: var(--medium-padding);
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    max-width: 800px;
    margin: 0 auto;
    margin-top: var(--medium-padding);
}

.info {
    display: flex;
    margin-bottom: var(--medium-padding);
}

.descriptionWrapper {
    margin-left: var(--medium-padding);
    display: flex;
    //gap: var(--medium-padding);
    flex-direction: column;
    flex: 1;
}

.ratingWrapper {
    display: flex;
    width: 100%;
    gap: var(--medium-padding);
    margin-bottom: var(--medium-padding);
}

.rangeSlider {
    width: 100%;
}

.formGroup {
    width: 100%;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
    font-size: var(--font-size-m);
    color: #fff;
}

.formInput {
    width: 100%;
    height: 60px;
    //margin-bottom: var(--medium-padding);
}

.formSubmit {
    width: 100%;
    height: 40px;
}

.suggestions {
    position: relative;
    margin-bottom: var(--medium-padding);
}

@media (width <= 540px) {
    .info {
        flex-direction: column;
    }

    .descriptionWrapper {
        margin-left: 0;
        margin-top: var(--medium-padding);
    }

    .cover {
        margin: 0 auto;
    }

    .ratingWrapper {
        flex-direction: column;
    }
}
