.AlbumCard {
    text-decoration: none;
    cursor: pointer;
    max-width: 382px;
    background-color: var(--default-bg-color);
    border-radius: var(--large-radius);
    border-style: solid;
    border-color: rgb(39 39 39);
    border-width: 1px;
    transition: all .5s;
    display: flex;
    flex-flow: column;
    padding: 8px;
}

.title {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.cover {
    flex: 1;

    img {
        width: 100%;
        height: 100%;
        border-radius: var(--medium-radius);
    }
}

.artist {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cost {
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin: 5px 0 8px 0;
}

.sold {
    font-size: 22px;
    color: #fff;
    opacity: 0.6;
    text-align: center;
    margin: 8px 0 5px 0;
    flex: 1;
}

.rating {
    border-radius: 100%;
    width: 33px;
    height: 33px;
    background-color: #fff;
    margin: 8px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.cartButton {
    border: none;
    padding: 5px 12px;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    text-align: center;
    cursor: pointer;
    z-index: 200;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--light-bg-color);
    margin: 0 auto;
}
