.filters {
	width: 250px;
	background-color: #fff;
	border-radius: 15px;
	cursor: pointer;
	position: relative;
	background-color: rgb(26, 26, 26);
	// text-align: center;
	padding-top: 10px;
	color: hsl(0, 0%, 100%);
	font-size: 20px;
	height: 50px;
	&__label {
		padding-left: 20px;
	}
	&__list {
		position: absolute;
		background-color: rgb(26, 26, 26);
		top: 100%;
		width: 100%;
		z-index: 1000;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	&__item {
		background-color: rgb(26, 26, 26);
		padding-left: 20px;
		&:last-child {
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
		}
		&_active {
			background-color: rgb(75, 75, 75);
		}
	}
}