.wrapper {
	display: flex;
	margin-top: var(--large-padding);
	gap: var(--small-padding);
	color: white;
	font-size: 28px;
	margin-bottom: 20px;
}

.userAlbums {
	margin-top: var(--large-padding);
}

@media (width <= 550px) {
	.wrapper {
		flex-direction: column;
	}
}