.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	&__close {
		position: absolute;
		right: 10px;
		top: 0;
		cursor: pointer;
		img {
			width: 14px;
		}
	}
	/* &__cover {
		width: 300px;
		img {
			width: 300px;
			height: 300px;
		}
		img:before {
			position: absolute;
			content: "\01F614   Изображение не загружено.";
			background-color: #837c7c;
			right: 60px;
			top: 30px;
			width: 300px;
			height: 300px;
			padding: 20px;
			text-align: center;
			border: 3px dashed #afb3e5;
			box-shadow: 0 0 0 0.45em #837c7c, 0 1.2em 3.6em rgba(1, 7, 60, 0.3);
			border-radius: 1px;
		}
		.final-rating {
			color: #fff;
			margin-top: 47px;
			font-size: 24px;
		}
	} */
	&__content {
		animation: fade-in 0.2s ease-in;
		position: relative;
		width: 900px;
		background-color: #000;
		padding: 25px;
		border-radius: 20px;
		border-style: solid;
		border-color: rgb(69, 67, 73);
		border-width: 1.5px;
		display: flex;
		justify-content: space-around;
		.form {
			width: 400px;
			display: flex;
			flex-wrap: wrap;
			&__wrapper {
				position: relative;
				display: flex;
				justify-content: left;
				align-items: center;
				width: 400px;
				height: 50px;
			}
			&__title {
				font-size: 24px;
				font-weight: 500;
				color: #fff;
				background-color: rgb(26, 26, 26);
				border-style: solid;
				border-color: rgb(134, 118, 199);
				border-width: 1px;
				width: 320px;
				height: 40px;
				text-align: center;
				border-radius: 12px;
			}
			&__input {
				position: absolute;
				right: 0;
				display: block;
				border: none;
				background-color:rgb(41, 40, 44);
				border-radius: 10px;
				width: 200px;
				height: 34px;
				padding: 10px;
				color: #fff;
				&:focus {
					outline: none;
				}
			}
			&__descr {
				font-size: 20px;
				color: #fff;
			}
			&__rate {
				display: flex;
				align-items: center;
				padding-left: 5px;
				position: absolute;
				right: 0px;
				&-item {
					width: 13px;
					height: 18px;
					background-color: #fff;
					border-radius: 4px;
					margin-right: 5px;
					&_hover {
						background-color: red;
					}
				}
				&-value {
					text-align: center;
					color: #fff;
					width: 20px;
				}
			}
			.submit {
				margin: 0 auto;
				display: block;
				border: none;
				width: 150px;
				height: 37px;
				border-radius: 10px;
			}
		}
	}
}

@keyframes fade-in {
	from {
	  opacity: 0;
	  transform: translateY(-100%);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  